body {
    background-color: bisque;
    font-family: "Roboto Condensed", sans-serif;
}

h1 {
    text-align: center;
    color: rgb(67, 66, 66);
}

select {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 20px auto;
    font-size: 20px;
    border-radius: 6px;
}

h3 {
    font-size: 28px;
    margin: 0 0 5px;
}
.container {
    max-width: 600px;
    text-align: center;
    background: whitesmoke;
    margin: 60px auto;
    padding: 30px;
    box-shadow: -11px 11px 29px 5px rgba(73,104,115,0.9);
    border-radius: 10px;
}
.city {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin: 10px 0;
    font-size: 24px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    
}
.date {
    font-size: 16px;
    color: grey;
    text-align: left;
    line-height: 10px;
}
.time {
    font-size: 48px;
    padding: 15px;
    line-height: 25px;
}
.time small {
    font-size: 24px;
    vertical-align: middle;
}
footer {
    text-align: center;
    padding: 20px 40px;
}