body {
    background: linear-gradient(to top, #feada6 0%, #f5efef 100%);
    font-family: "Roboto Condensed", sans-serif;
    max-height: 600px;
}

h1 {
    text-align: center;
    color: rgb(67, 66, 66);
    
}
a:link {
    color: rgb(171, 54, 54);
    text-decoration: none;
}
a:visited {
    color: rgb(171, 54, 54);
}
a:hover {
    color: rgb(128, 81, 81);
    cursor: pointer;
    
}
select {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 20px auto;
    font-size: 20px;
    border-radius: 6px;
}

h3 {
    font-size: 28px;
    margin: 0 0 5px;
}
.container {
    max-width: 600px;
    text-align: center;
    background: whitesmoke;
    margin: 60px auto;
    padding: 30px;
    box-shadow: -11px 11px 29px 5px rgba(135, 176, 251, 0.9);
    border-radius: 10px;
}
.city {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 25px;
    margin: 10px 0;
    font-size: 24px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    
}
.date {
    font-size: 16px;
    color: grey;
    text-align: left;
    line-height: 10px;
}
.time {
    font-size: 48px;
    padding: 15px;
    line-height: 25px;
}
.time small {
    font-size: 24px;
    vertical-align: middle;
}
.homepage {
    color: rgb(169, 36, 36);
}
footer {
    text-align: center;
    padding: 0px 40px 20px 40px;
}